/* visit fonts.google.com for text fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');

:root {
    --primaryColor: #1c2023;
    --secondaryColor: #f6a821;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--primaryColor);
}

#container {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
}